* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  max-width: 100%;
  height: 60px;
  box-shadow: 0 7.5px 35px rgba(4, 9, 20, 0.03),
              0 15px 22.5px rgba(4, 9, 20, 0.03), 
              0 4px 8.5px rgba(4, 9, 20, 0.05),
              0 2px 3px rgba(4, 9, 20, 0.03);
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.hamburgur {
  background-color: red;
  height: 60px;
  width: 10%;
  margin-left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

.logo {
  width: 80%;
  height: 60px;
  background-color: blue;
}

.menu {
  background-color: green;
  margin-right: 24px;
  width: 10%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu .menu-border {
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
  padding: 4px 2px;
}
.menu ion-icon {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}



.container {
  background-color: #f1f4f6;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  margin: 0;
}


